.contactItem {
    display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
}

.contactBtn {
    padding: 5px;
        margin-left: 10px;
        display: inline-block;
        margin-left: auto;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid gray;
}