.contactForm {
display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid gray;
    
} 

.label {
display: block;
    font-size: 20px;

    /* &+& {
        margin-top: 12px;
    } */
}


.contactButton {
    max-width: 100px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: #ccd5ff;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

/* .contactButton:hover,
:focus {
    background-color: red;
} */